body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  

}

.botones {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
}

.botones button {
  margin: 0 4px;
  background-color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.poste {
  background-color: rgb(43, 43, 43);
  height: 2rem;
  width: 30px;
  height: 70px;
  max-width: 100px;
  justify-self: center;
  border: outset;
  border-block-end: none;

  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  justify-self: center;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  border-radius: 5px;
  border: outset;
  width:120px;
 

}

.container span {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0;
}

.rojo {
  background: #D50000;
}

.amarillo {
  background: #FFD600;
}

.verde {
  background: #558B2F;
}

.morado {
  background: #5a0b79;
}

.rojo-activo {
  background: red;
  box-shadow: 0 0 15px 3px red;

}

.amarillo-activo {
  background: #FFFF00;
  box-shadow: 0 0 15px 3px #FFFF00;
}

.verde-activo {
  background: #76FF03;
  box-shadow: 0 0 15px 3px #76FF03;
}

.morado-activo {
  background: #5a0b79;
  box-shadow: 0 0 15px 3px #b075c8;

}